
#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav {
    display: flex;
    height: 10vh;
    background-color: #a0aacc;
    transition: background-color 5s ease-in-out;
}

.new-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


li {
    border: 1px solid #191d2d;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.color {
    background-color: #4c7498;
    border: 1px solid #191d2d;
    box-shadow: 0 -5px 8px #191d2d;
}

img {
    width: 80%;
    height: 80%;
}